<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- Aquì van tantas lineas link como componentes tengamos
OJO CON LA RUTA -->
<link rel="import" href="../demo-component2/demo-component2.html">

<dom-module id="demo-component">
  <template>
    <style>
      :host {
        display: block;
        font-family: cursive;
        color: red;
        background-color: green;
      }
    </style>
    <!-- <h2>Hello [[prop1]]!</h2> Antes estaba asì-->
    <h1>Datos Personales</h1>
    <h2>Hola, mi nombre es [[nombre]] y mi ID es [[id]]</h2>
    <!-- Meto otro componente dentro de componente -->
      <demo-component2> </demo-component2>
    <!-- FIN   Meto otro componente dentro de componente -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemoComponent extends Polymer.Element {
      static get is() { return 'demo-component'; }
      static get properties() {
        return {
          id: {
            type: String,
            value: '12345'
          },
          nombre: {
            type: String
          },
          edad: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(DemoComponent.is, DemoComponent);
  </script>
</dom-module>
