<!-- Aquì van tantas lineas link como componentes tengamos
OJO CON LA RUTA
Tenemos que tener iron-ajax instalado y declararlo aquì abajo
-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/cuenta-movimientos/cuenta-movimientos.html">

<!-- Hay que declarar el conumo de mi aplicaciòn backend
http://localhost:3000/api-uruguay/v1/login/  -->

<dom-module id="login-usuario">
  <template>
      <style>
        :host {
          display: block;
          font-family: cursive;
          color: black;
          background-color: silver;
        }
      </style>


      <!-- AQUI DECLARO mi app Acordarse de prender el CORS (en Chrome)-->
      <!-- Como mi servicio recibe json por BODY, hay que declarar la etiqueta
           body="aplication/json"     y luego formarlo en:  this.$.hacerLogin.body = {....
PONIENDO AUTO en al comienzo de cada componente provoca que se cargue automàticamente
     -->

      <iron-ajax id="hacerLogin"
             url="http://localhost:3000/api-uruguay/v1/login"
             method="POST"
             content-type="application/json"
             handle-as="json"
             on-response="mostrarResultadoLogin"
             on-error="mostrarError">
      </iron-ajax>

      <iron-ajax id="hacerLogout"
             url="http://localhost:3000/api-uruguay/v1/logout"
             method="POST"
             content-type="application/json"
             handle-as="json"
             on-response="mostrarResultadoLogout"
             on-error="mostrarErrorLogout">
      </iron-ajax>

      <span hidden$="{{logado}}">
        <div class="row" align="center">

          <h3>Acceso al sistema</h3>
          <p><input type="email" id="email" value={{email::input}} size="40" placeholder="Ingrese su email..."/></p>
          <p><input type="password" id="clave" value={{password::input}} size="40" placeholder="Ingrese su password..." /></p>
          <p></p>
          <p><button on-click="logar">Login</button></p>
          <p>{{mensaje}}</p>
          <!--<p><span hidden$="{{logado}}"><button on-click="logar">Login</button></span></p> -->
        </div>
      </span>

      <span hidden$="{{!logado}}">
        <div class="row" align="right">
          <p> {{first_name}} ({{idusuario}})  <button on-click="unlog">Logout</button></p>
        </div>
      </span>


      <span hidden$="{{!logado}}">
        <div style="background-color:lightblue">
          <template is="dom-if" if="[[ !accounts.length ]]">
            <span>Estimado Cliente, actualmente no tiene cuentas activas para operar.</span>
          </template>

          <template is="dom-if" if="[[ accounts.length ]]">
            <h3>Por favor elija una cuenta para operar:</h3>
            <template is="dom-repeat" items="{{ accounts }}" as="cuenta">
              <div class="cuenta-item">
                <span> Cuenta # [[ cuenta.IdAccount ]]
                  <input type="text" id="cta_[[ cuenta.IdAccount ]]" value="[[ cuenta.IdAccount ]]" size="9" />
                  <button id= "bt_getMvtos" on-click="getMvtos" data-args$='[[ cuenta.IdAccount ]]'>Ver Movimientos</button>
                </span>
              </div>
            </template>
          </template>
        </div>
      </span>

      <span hidden$="{{!logado}}">
        <div style="background-color:green">
          <span>Verde.</span>
          <h3>muestro</h3>
          <template is="dom-if" if="{{!logado}}" >
            <cuenta-movimientos><h3>muestro2</h3></cuenta-movimientos>
          </template >
        </div>
      </span>

  </template>



  <script>

    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String,
            value:""
          },
          idusuario: {
              type: Number,
              value: 0
          },
          first_name: {
              type: String
          },
          logado: {
            type: Boolean,
            value: false
          },
          accounts: {
            type: Array
          },
          mensaje: {
            type: String
          },
          q_cta: {
              type: Number,
              value: 0
          }
        };
      }


      logar() {
        if ((this.email != "") && (this.password != "")) {
          console.log("1. El usuario ha pulsado el botón")
          this.mensaje=""
          this.$.hacerLogin.body = {"email" : this.email, "password" : this.password }
          this.$.hacerLogin.generateRequest()
          console.log("3. Petición enviada")
        }
        else {
          console.log("Por favor, ingrese las credenciales de acceso.")
          this.mensaje="Por favor, ingrese las credenciales de acceso."
        }
      }

      mostrarResultadoLogin(resultado) {
        this.mensaje=""
        console.log("4. Llegaron los resultados")
        console.log(resultado)
        console.log("5. Proceso los resultados")
        this.logado = true
        this.idusuario= resultado.detail.response.id
        this.first_name= "Bienvenido, " + resultado.detail.response.first_name + "  "
        //this.accounts= "Cuenta1= " + resultado.detail.response.accounts[0].IdAccount
        this.accounts= resultado.detail.response.accounts
      }

      mostrarError(error) {
        console.log("4. Llega el error")
        console.log(error)
        this.logado = false
        this.idusuario= 0
        this.email=""
        this.password=""
        this.mensaje="Alguno de los datos ingresados es incorrecto. Por favor verifique.";
      }

      //%%%%%%%%%%%%%%%%%%   LOGOUT   %%%%%%%%%%%%%%%%%%%%%
      unlog() {
      console.log("1. El usuario ha pulsado el botón UnLog")
      //this.$.hacerLogin.headers.email = this.email    //Mi App espera recibir en body
      this.$.hacerLogout.body = {"email" : this.email, "password" : this.password }
      this.$.hacerLogout.generateRequest()
      console.log("3. Petición UnLog enviadaA")
      }

      mostrarResultadoLogout(resultado) {
        console.log("4. Llegaron los resultados_Logout")
        console.log(resultado)
        console.log("5. Proceso los resultados_Logout")
        this.logado = false
        this.first_name=""
        this.email=""
        this.password=""
        this.idusuario=0
      }

      mostrarErrorLogout(error) {
        console.log("4. Llega el error_Logout")
        console.log(error)
        this.logado = false
      }

    getMvtos(e) {
      var cta = e.target.getAttribute('data-args')
      console.log("Cuenta2=" + cta)
      this.q_cta= cta
      console.log("Cuenta=" + this.q_cta)
      localStorage.setItem("cta", cta)
       this.dispatchEvent(
        new CustomEvent(
          "myevent",
          {
            "detail" : {
              "QueCta" : cta,
              "course" : "TechU",
              "year" : 2018
            }
          }
        )
      )
    }

    MovsCtax(e){
        var cta = e.target.getAttribute('data-args')
        console.log("Cuenta2=" + cta)
        console.log("Cuenta=" + this.q_cta)
    }

  }

    window.customElements.define(LoginUsuario.is, LoginUsuario);

  </script>
</dom-module>
