<!-- Aquì van tantas lineas link como componentes tengamos
OJO CON LA RUTA
Tenemos que tener iron-ajax instalado y declararlo aquì abajo
-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../login-usuario/login-usuario.html">

<!-- Hay que declarar el conumo de mi aplicaciòn backend
http://localhost:3000/api-uruguay/v1/login/  -->

<dom-module id="login-usuario">
  <template>
      <style>
        :host {
          display: block;
          font-family: cursive;
          color: black;
          background-color: silver;
        }
      </style>


      <!-- AQUI DECLARO mi app Acordarse de prender el CORS (en Chrome)-->
      <!-- Como mi servicio recibe json por BODY, hay que declarar la etiqueta
           body="aplication/json"     y luego formarlo en:  this.$.hacerLogin.body = {....
PONIENDO AUTO en al comienzo de cada componente provoca que se cargue automàticamente
     -->

      <iron-ajax id="hacerLogin"
             url="http://localhost:3000/api-uruguay/v1/login"
             method="POST"
             content-type="application/json"
             handle-as="json"
             on-response="mostrarResultadoLogin"
             on-error="mostrarError">
      </iron-ajax>

      <iron-ajax id="hacerLogout"
             url="http://localhost:3000/api-uruguay/v1/logout"
             method="POST"
             content-type="application/json"
             handle-as="json"
             on-response="mostrarResultadoLogout"
             on-error="mostrarErrorLogout">
      </iron-ajax>

      <iron-ajax id="getMvtosCuenta"
             url="http://localhost:3000/api-uruguay/v1/mvtoscuenta/7"
             method="GET"
             content-type="application/json"
             handle-as="json"
             on-response="movsCuentaOK"
             on-error="movsCuentaERR">
      </iron-ajax>

      <span hidden$="{{logado}}">
        <div class="row" align="center">

          <h3>Acceso al sistema</h3>
          <p><input type="email" id="email" value={{email::input}} size="40" placeholder="Ingrese su email..."/></p>
          <p><input type="password" id="clave" value={{password::input}} size="40" placeholder="Ingrese su password..." /></p>
          <p></p>
          <p><button on-click="logar">Login</button></p>
          <!--<p><span hidden$="{{logado}}"><button on-click="logar">Login</button></span></p> -->
        </div>
      </span>

      <span hidden$="{{!logado}}">
        <div class="row" align="right">
          <p> {{first_name}} ({{idusuario}})  <button on-click="unlog">Logout</button></p>
          <p onclick="CambiarPWD(this, 'red')"> Cambiar Contraseña </p>
        </div>
      </span>

      <span hidden$="{{!ChgPwdPanel}}">
        <div>
           <p>Este es un div para cambiar contraseña</p>
        </div>
      </span>

      <span hidden$="{{!logado}}">
        <div style="background-color:lightblue">
          <template is="dom-if" if="[[ !accounts.length ]]">
            <span>Estimado Cliente, actualmente no tiene cuentas activas para operar.</span>
          </template>

          <template is="dom-if" if="[[ accounts.length ]]">
            <h3>Por favor elija una cuenta para operar:</h3>
            <template is="dom-repeat" items="{{ accounts }}" as="cuenta">
              <div class="cuenta-item">
                <span> Cuenta # [[ cuenta.IdAccount ]]
                  <input type="text" id="cta_[[ cuenta.IdAccount ]]" value="[[ cuenta.IdAccount ]]" size="9" />
                  <button on-click='_verMovs' data-args$='[[ cuenta.IdAccount ]]' >Movimientos</button>
                  <button on-click="getMvtos">getMvtos</button>
                </span>
              </div>
            </template>
          </template>
        </div>
      </span>

      <span hidden$="{{!logado}}">
        <div class="row" align="left">
          <p>Saldo Actual: {{ ctasaldo }}   </p>
          <p>Cant Mvtos: {{ ctamvtos.length }}</p>
        </div>

        <template is="dom-repeat" items="{{ ctamvtos }}" as="mvt">
          <p>aqui</p>
                    <p>Cant Mvtos: {{ ctamvtos.length }}</p>
          <div class="mvt-item">
            <span> Mov # [[ mvt.descripcion ]]
              <input type="text" value="[[ mvt.descripcion ]]" size="30" />
            </span>
          </div>
        </template>


      </span>

  </template>


  <script>

    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String,
            value:""
          },
          idusuario: {
              type: Number,
              value: 0
          },
          first_name: {
              type: String
          },
          logado: {
            type: Boolean,
            value: false
          },
          accounts: {
            type: Array
          },
          ctasaldo: {
            type: Number,
            value: 0
          },
          ctamvtos: {
            type: Array
          },
          ChgPwdPanel: {
            type: Boolean,
            value: false
          },
        };
      }


      logar() {
        if ((this.email != "") && (this.password != "")) {
          console.log("1. El usuario ha pulsado el botón")
          this.$.hacerLogin.body = {"email" : this.email, "password" : this.password }
          //console.log(this.email);
          //console.log(this.password);
          //console.log("2. Voy a enviar la petición")
          this.$.hacerLogin.generateRequest()
          console.log("3. Petición enviada")
        }
        else {
          console.log("Por favor, ingrese las credenciales de acceso.")
        }
      }

      mostrarResultadoLogin(resultado) {
        console.log("4. Llegaron los resultados")
        console.log(resultado)
        console.log("5. Proceso los resultados")
        this.logado = true
        this.idusuario= resultado.detail.response.id
        this.first_name= "Bienvenido, " + resultado.detail.response.first_name + "  "
        //this.accounts= "Cuenta1= " + resultado.detail.response.accounts[0].IdAccount
        this.accounts= resultado.detail.response.accounts
      }

      mostrarError(error) {
        console.log("4. Llega el error")
        console.log(error)
        this.logado = false
        this.idusuario= 0
        this.email=""
        this.password=""
      }

      //%%%%%%%%%%%%%%%%%%   LOGOUT   %%%%%%%%%%%%%%%%%%%%%
      unlog() {
      console.log("1. El usuario ha pulsado el botón UnLog")
      //this.$.hacerLogin.headers.email = this.email    //Mi App espera recibir en body
      this.$.hacerLogout.body = {"email" : this.email, "password" : this.password }
      //console.log(this.email);
      //console.log(this.password);
      //console.log("2. Voy a enviar la petición UnLog")
      this.$.hacerLogout.generateRequest()
      console.log("3. Petición UnLog enviadaA")
      }

      mostrarResultadoLogout(resultado) {
        console.log("4. Llegaron los resultados_Logout")
        console.log(resultado)
        console.log("5. Proceso los resultados_Logout")
        this.logado = false
        this.first_name=""
        this.email=""
        this.password=""
        this.idusuario=0
      }

      mostrarErrorLogout(error) {
        console.log("4. Llega el error_Logout")
        console.log(error)
        this.logado = false
      }

      //%%%%%%%%%%%%%%%%%%   GETMVTOSCUENTA   %%%%%%%%%%%%%%%%%%%%%
      getMvtos() {
          console.log("funcion getMvtos")
          // Aqui puedo agregar el dato a la url
          //this.$.getMvtosCuenta.url="hola"
          console.log("getMvtosCuentaURL=" + this.$.getMvtosCuenta.url)
          this.$.getMvtosCuenta.generateRequest()
      }

      movsCuentaOK(resultadoMovs) {
        console.log("datosCuentaOk= " + resultadoMovs)
        console.log("this:"+this.ctasaldo)
        console.log("VariableSaldo = " + resultadoMovs.detail.response.saldo)
        //this.ctasaldo= 12225//resultadoMovs.detail.response.saldo
        this.ctasaldo= resultadoMovs.detail.response.saldo
        this.ctamvtos= resultadoMovs.detail.response.movimientos
      }

      movsCuentaERR(errorMovs) {
        console.log(errorMovs)
        this.ctasaldo= 0
        //this.ctamvtos=
      }

      _verMovs(queCta){
      //var val=queCta.model.val;
      console.log("val= " + val)
      console.log("QueCta= " + queCta)
    }
  }

    window.customElements.define(LoginUsuario.is, LoginUsuario);

    function CambiarPWD(elmnt,clr) {
      elmnt.style.color = clr;
      //document.getElementById('ChgPwd').hidden = true;
      this.ChgPwdPanel = true;
    }

  </script>
</dom-module>
