<!-- Aquì van tantas lineas link como componentes tengamos
OJO CON LA RUTA
Tenemos que tener iron-ajax instalado y declararlo aquì abajo
-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!-- Hay que declarar el conumo de mi aplicaciòn backend
http://localhost:3000/api-uruguay/v1/login/  -->

<dom-module id="login-usuario">
  <template>
      <style>
        :host {
          display: block;
          font-family: cursive;
          color: black;
          background-color: silver;
        }
      </style>


      <!-- AQUI DECLARO mi app Acordarse de prender el CORS (en Chrome)-->
      <!-- Como mi servicio recibe json por BODY, hay que declarar la etiqueta
           body="aplication/json"     y luego formarlo en:  this.$.hacerLogin.body = {....
PONIENDO AUTO en al comienzo de cada componente provoca que se cargue automàticamente
     -->

      <iron-ajax id="hacerLogin"
             url="http://localhost:3000/api-uruguay/v1/login"
             method="POST"
             content-type="application/json"
             handle-as="json"
             on-response="mostrarResultadoLogin"
             on-error="mostrarError">
      </iron-ajax>

      <iron-ajax id="hacerLogout"
             url="http://localhost:3000/api-uruguay/v1/logout"
             method="POST"
             content-type="application/json"
             handle-as="json"
             on-response="mostrarResultadoLogout"
             on-error="mostrarErrorLogout">
      </iron-ajax>
<!--  auto="" Con èste comando dentro de iron- -->
      <iron-ajax id="getMvtosCuenta"
             url="http://localhost:3000/api-uruguay/v1/mvtoscuenta/{{q_cta}}"
             method="GET"
             handle-as="json"
             on-response="movsCuentaOK"
             on-error="movsCuentaERR">
      </iron-ajax>


      <iron-ajax id="newMov"
             url="http://localhost:3000/api-uruguay/v1/altamovimiento"
             content-type="application/json"
             method="POST"
             handle-as="json"
             on-response="altamov"
             on-error="altamovErr">
      </iron-ajax>

      <iron-ajax id="ChgPWD"
             url="http://localhost:3000/api-uruguay/v1/cambiarpwd"
             content-type="application/json"
             method="PUT"
             handle-as="json"
             on-response="ChgPWD_Resp"
             on-error="ChgPWD_Err">
      </iron-ajax>

      <span hidden$="{{logado}}">
        <div class="row" align="center">

          <h3>Acceso al sistema</h3>
          <p><input type="email" id="email" value={{email::input}} size="40" placeholder="Ingrese su email..."/></p>
          <p><input type="password" id="clave" value={{password::input}} size="40" placeholder="Ingrese su password..." /></p>
          <p></p>
          <p><button on-click="logar">Login</button></p>
          <p>{{mensaje}}</p>
          <!--<p><span hidden$="{{logado}}"><button on-click="logar">Login</button></span></p> -->
        </div>
      </span>

      <span hidden$="{{!logado}}">
        <div class="row" align="right">
          <p> <img src="src/login-usuario/LogoUsuario.jpeg" height="20" width="20" onclick="DatosUsr"> Bienvenido,  {{first_name}} ({{idusuario}})  <button on-click="unlog">Logout</button><button on-click="DatosUsr_Click">Ver Usuario</button></p>
        </div>
      </span>


      <span hidden$="{{!cambiarclave}}">
        <div class="row" align="center" style="background-color:#ffee84">
          <table style="width:60%">
            <caption><b>Datos de Usuario</b></caption>
            <tr>
              <td> </td>
              <td> </td>
            </tr>
            <tr>
              <td>IdUsuario: </td>
              <td>{{idusuario}}</td>
            </tr>
            <tr>
              <td>Nombre: </td>
              <td>{{first_name}}</td>
            </tr>
            <tr>
              <td>Apellido:</td>
              <td>{{last_name}}</td>
            </tr>
            <tr>
              <td>eMail:</td>
              <td>{{email}}</td>
            </tr>
            <tr> <td> </td> <td> </td> </tr>
            <tr> <td> </td> <td> </td> </tr>
            <tr>
              <td colspan="2" align="center"><b>Cambiar Contraseña</b></td>
              <td> </td>
            </tr>
            <tr> <td> </td> <td> </td> </tr>
            <tr>
              <td>Contraseña anterior: </td>
              <td><input type="password" id="x_pwdAnt" size="20" placeholder="Contsaseña actual......" /></td>
            </tr>
            <tr>
              <td>NUEVA Contraseña: </td>
              <td><input type="password" id="x_pwdNew" size="20" placeholder="Contsaseña nueva......" /></td>
            </tr>
            <tr>
              <td>Repita Nueva Contraseña: </td>
              <td><input type="password" id="x_pwdNew2" size="20" placeholder="Repetir nueva......" /></td>
            </tr>
            <tr> <td> </td> <td> </td> </tr>
            <tr> <td> </td> <td> </td> </tr>
            <tr>
              <td align="right"><button on-click="DatosUsr_unClick">Salir</button> </td>
              <td align="right"><button on-click="DatosUsr_borrar">Borrar campos</button> </td>
              <td align="right"><button on-click="ChgPWD_Btn">Cambiar Contraseña</button> </td>
            </tr>
          </table>
        </div>
      </span>



      <span hidden$="{{!logado}}">
          <div style="background-color:lightblue">
            <template is="dom-if" if="[[ !accounts.length ]]">
              <span>Estimado Cliente, actualmente no tiene cuentas activas para operar.</span>
            </template>

            <template is="dom-if" if="[[ accounts.length ]]">
              <h3>Por favor elija una cuenta para operar:</h3>
              <template is="dom-repeat" items="{{ accounts }}" as="cuenta">
                <div class="cuenta-item">
                  <span> Cuenta # [[ cuenta.IdAccount ]]
                    <input type="text" id="cta_[[ cuenta.IdAccount ]]" value="[[ cuenta.IdAccount ]]" size="9" disabled />
                    <button id= "bt_getMvtos" on-click="getMvtos" data-args$='[[ cuenta.IdAccount ]]'>Ver Movimientos</button>
                    <button id= "bt_Transfer" on-click="doTransfer" data-args$='[[ cuenta.IdAccount ]]'>Transferir</button>
                  </span>
                </div>
              </template>
            </template>
          </div>
      </span>

      <span hidden$="{{!logado}}">
        <template is="dom-if" if="{{transfer}}">
            <div class="row" align="center">
              <table style="width:70%">
                <caption><b>Datos transferencia</b></caption>
                <tr>
                  <td> </td>
                  <td> </td>
                </tr>
                <tr>
                  <td>Cuenta Origen</td>
                  <td>{{q_cta}}</td>
                </tr>
                <tr>
                  <td>Cuenta Destino</td>
                  <td>
                    <select id="Q_ctaDest_Combo" value={{q_ctaDest::input}} >
                      <template is="dom-repeat" items="{{ accounts }}" as="cuentaTrn">
                          <option value="[[ cuentaTrn.IdAccount ]]">[[ cuentaTrn.IdAccount ]]</option>
                      </template>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>Descripcion</td>
                  <td><input type="text" id="x_descrip" value={{q_dsc::input}} size="30" placeholder="Descripcion..."/></td>
                </tr>
                <tr>
                  <td>Importe</td>
                  <td><input type="number" id="x_imp" value={{q_imp::input}} size="30" placeholder="Monto del movimiento..." /></td>
                </tr>
                <tr>
                  <td> </td>
                  <td> </td>
                </tr>
                <tr>
                  <td> </td>
                  <td> </td>
                </tr>
                <tr>
                  <td colspan="2" align="right"><button on-click="IngresarMovimiento_Cancel">Cancelar</button> </td>
                  <td colspan="2" align="right"><button on-click="IngresarMovimiento">Transferir</button></td>
                </tr>
              </table>
            </span>

            </div>
        </template>
      </span>


      <span hidden$="{{!logado}}">
        <span hidden$={{!panelMovs}}
          <template is="dom-if" if="{{q_cta}}">
            <div style="background-color:#E0FFFF">
              <div class="row" align="center">
                <h3>Movimientos de la cuenta #{{q_cta}} </h3>
              </div>

              <div class="row" align="left">
                <p><b>Saldo Actual:</b> {{ c_saldo }}   </p>
                <p><b>Cant Mvtos:</b> {{ c_movimientos.length }}</p>
              </div>
              <table>
                <template is="dom-repeat" items="{{ c_movimientos }}" as="mvt">
                  <div class="mvt-item">

                      <tr>
                       <td>  #[[mvt.idmov]] </td>
                       <td> [[mvt.fecha]] </td>
                       <td> [[ mvt.descripcion ]] </td>
                       <td> [[mvt.importe]] </td>
                      </tr>

                  </div>
                </template>
                  </table>
            </div>
          </template>
        </span>
      </span>

  </template>



  <script>

    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String,
            value:""
          },
          idusuario: {
              type: Number,
              value: 0
          },
          first_name: {
              type: String
          },
          last_name: {
              type: String
          },
          logado: {
            type: Boolean,
            value: false
          },
          panelMovs: {
            type: Boolean,
            value: false
          },
          accounts: {
            type: Array
          },
          mensaje: {
            type: String
          },
          q_cta: {
              type: Number,
              value: 0
          },
          q_imp: {
              type: Number,
              value: 0
          },
          q_dsc: {
            type: String
          },
          q_ctaDest: {
              type: Number,
              value: 0
          },
          q_fechatrn: {
            type: String
          },
          c_saldo: {
            type: Number,
            value: 0
          },
          c_movimientos: {
            type: Array
          },
          transfer: {
            type: Boolean,
            value: false
          },
          trndest: {
            type: Boolean,
            value: false
          },
          cambiarclave: {
            type: Boolean,
            value: false
          }
        };
      }


      logar() {
        if ((this.email != "") && (this.password != "")) {
          console.log("1. El usuario ha pulsado el botón")
          this.mensaje=""
          this.$.hacerLogin.body = {"email" : this.email, "password" : this.password }
          this.$.hacerLogin.generateRequest()
          console.log("3. Petición enviada")
        }
        else {
          console.log("Por favor, ingrese las credenciales de acceso.")
          this.mensaje="Por favor, ingrese las credenciales de acceso."
        }
      }

      mostrarResultadoLogin(resultado) {
        this.mensaje=""
        console.log("4. Llegaron los resultados")
        console.log(resultado)
        console.log("5. Proceso los resultados")
        this.logado = true
        this.idusuario= resultado.detail.response.id
        this.first_name= resultado.detail.response.first_name
        this.last_name= resultado.detail.response.last_name
        //this.accounts= "Cuenta1= " + resultado.detail.response.accounts[0].IdAccount
        this.accounts= resultado.detail.response.accounts
      }

      mostrarError(error) {
        console.log("4. Llega el error")
        console.log(error)
        this.logado = false
        this.idusuario= 0
        this.email=""
        this.password=""
        this.mensaje="Alguno de los datos ingresados es incorrecto. Por favor verifique.";
      }

      //%%%%%%%%%%%%%%%%%%   LOGOUT   %%%%%%%%%%%%%%%%%%%%%
      unlog() {
      console.log("1. El usuario ha pulsado el botón UnLog")
      //this.$.hacerLogin.headers.email = this.email    //Mi App espera recibir en body
      this.$.hacerLogout.body = {"email" : this.email, "password" : this.password }
      this.$.hacerLogout.generateRequest()
      console.log("3. Petición UnLog enviadaA")
      }

      mostrarResultadoLogout(resultado) {
        console.log("4. Llegaron los resultados_Logout")
        console.log(resultado)
        console.log("5. Proceso los resultados_Logout")
        this.logado = false
        this.first_name=""
        this.last_name=""
        this.email=""
        this.password=""
        this.idusuario=0
        this.c_saldo=0
        this.q_cta=0
        this.transfer=false
        this.cambiarclave=false
        this.panelMovs=false
      }

      mostrarErrorLogout(error) {
        console.log("4. Llega el error_Logout")
        console.log(error)
        this.logado = false
      }

    getMvtos(e) {
      var cta = e.target.getAttribute('data-args')
      console.log("Cuenta2=" + cta)
      this.q_cta= cta
      console.log("Cuenta=" + this.q_cta)
      this.panelMovs=true
      this.transfer=false
      localStorage.setItem("cta", cta)
      this.$.getMvtosCuenta.generateRequest()
       this.dispatchEvent(
        new CustomEvent(
          "myevent",
          {
            "detail" : {
              "QueCta" : cta,
              "course" : "TechU",
              "year" : 2018
            }
          }
        )
      )
    }

    doTransfer(e) {
      var cta = e.target.getAttribute('data-args')
      console.log("Transfer CtaOrigen=" + cta)
      this.q_cta= cta
      this.q_ctaDest= 0
      this.q_dsc=""
      this.q_fechatrn=""
      this.q_imp=0
      this.transfer= true
      this.panelMovs=false
    }

    MovsCtax(e){
        var cta = e.target.getAttribute('data-args')
        console.log("Cuenta2=" + cta)
        console.log("Cuenta=" + this.q_cta)
    }

    movsCuentaOK(resultadoMovs) {
      //console.log("Hola=" + resultadoMovs.detail.response.Existe)
      console.log("resultadoMovs.detail= " + resultadoMovs.detail)
      console.log("resultadoMovs.detail.response= " + resultadoMovs.detail.response)
      if (this.logado){
        this.c_saldo= resultadoMovs.detail.response.saldo
        this.c_movimientos= resultadoMovs.detail.response.movimientos
      }
    }

    movsCuentaERR(errorMovs) {
      console.log(errorMovs)
      this.c_saldo= 0
      this.q_cta=0
    }

    IngresarMovimiento(){
      if ((this.q_ctaDest != 0) && (this.q_imp != 0) && (this.q_dsc != "")){
        if (this.q_cta != this.q_ctaDest){
          var hoy= new Date();
          var dd= hoy.getDate();
          var mm= hoy.getMonth();
          var aa= hoy.getFullYear();
          var F1= aa + '-' + mm + '-' + dd
          console.log("F1=" + F1);
          this.q_fechatrn= F1
          var monto= this.q_imp * -1;
          //var obj = { "cuenta": "+8", "fecha": "2018-11-09T01:30:52Z", "descripcion": "mov3", "importe": -400 }
          var obj = {
            "cuenta": +this.q_cta,
            "fecha": this.q_fechatrn,
            "descripcion": this.q_dsc,
            "importe": monto
          };

          this.trndest=true;
          this.$.newMov.body= obj;
          this.$.newMov.generateRequest()
          console.log("--> Petición Alta mvto enviada")
        }
        else {
          console.log("La cuenta destino tiene que ser diferente a la de origen.");
          window.alert("La cuenta destino tiene que ser diferente a la de origen.");
        }
      }
      else {
        console.log("Por favor complete los datos para finalizar la transferencia.");
        window.alert("Por favor complete los datos para finalizar la transferencia.");
      }
    }

    IngresarMovimiento_Cancel(){
      //this.$.x_imp.value= 0
      //this.x_descrip.value="";
      this.transfer= false;
      this.q_dsc="";
      this.q_imp=0;
      this.q_ctaDest=0;
      this.q_fechatrn="";
    }


    altamov(resultado){
        if (this.trndest){
          console.log("Aqui")
          var obj = {
            "cuenta": +this.q_ctaDest,
            "fecha": this.q_fechatrn,
            "descripcion": this.q_dsc,
            "importe": +this.q_imp
          };

          //var obj = { "cuenta": "+7", "fecha": "2018-11-09T01:30:52Z", "descripcion": "mov3", "importe": 400 }
          this.trndest=false
          this.$.newMov.body= obj
          this.$.newMov.generateRequest()
        }
        else {
          console.log("Transferencia realizda.");
          window.alert("Transferencia realizda.");
          this.q_dsc="";
          this.q_imp=0;
          this.q_ctaDest=0;
          this.q_fechatrn="";
        }
    }

    altamovErr(error){
        console.log("AltamovErr")
    }

    DatosUsr_Click(){
      this.cambiarclave = true;
    }
    DatosUsr_unClick(){
      this.cambiarclave = false;
    }

    ChgPWD_Btn(){
      var Pwd1= this.$.x_pwdAnt.value;
      var Pwd2= this.$.x_pwdNew.value;
      var Pwd3= this.$.x_pwdNew2.value;
      console.log(Pwd1);
      console.log(Pwd2);
      console.log(Pwd3);
      if ((Pwd1 != "") && (Pwd2 != "") && (Pwd3 != "")){
        if  (Pwd2 === Pwd3){
          this.$.ChgPWD.body = { "idUser": this.idusuario, "oldpwd": Pwd1, "pwd": Pwd2 };
          this.$.ChgPWD.generateRequest();
        }
        else{
          console.log("Las nuevas contraseñas no coinciden, vuelva a ingresarlas.");
          window.alert("Las nuevas contraseñas no coinciden, vuelva a ingresarlas.");
          this.$.x_pwdNew.value="";
          this.$.x_pwdNew2.value="";
        }
      }
      else {
          console.log("Por favor ingrese las contraseñas...");
          window.alert("Por favor ingrese las contraseñas...");
      }
    }

    DatosUsr_borrar(){
      this.$.x_pwdAnt.value="";
      this.$.x_pwdNew.value="";
      this.$.x_pwdNew2.value="";
    }

    ChgPWD_Resp(resultado){
      this.$.x_pwdAnt.value="";
      this.$.x_pwdNew.value="";
      this.$.x_pwdNew2.value="";
      console.log("Su contraseña ha sido modificada con èxito.");
      window.alert("Su contraseña ha sido modificada con èxito.");
    }

    ChgPWD_Err(Err){
      this.$.x_pwdAnt.value="";
      this.$.x_pwdNew.value="";
      this.$.x_pwdNew2.value="";
      console.log("No se ha podido modificar la contraseña. Por favor verifique");
      window.alert("No se ha podido modificar la contraseña. Por favor verifique");
    }



  }

  function DatosUsr(accion){
    this.DatosUsr_Click();  //Esto no funciona :(
/*    if (accion= 1){
      //this.cambiarclave = true;
      window.alert("true");
    }
    else {
      //this.cambiarclave = false;
      window.alert("false");
    }
*/
    //this.DatosUsr_Class(accion);
  }


    window.customElements.define(LoginUsuario.is, LoginUsuario);

  </script>
</dom-module>
