<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="demo-component2">
  <template>
    <style>
      :host {
        display: block;
        font-family: cursive;
        color: red;
        background-color: blue;
      }
    </style>
    <!-- <h2>Hello [[prop1]]!</h2> Antes estaba asì-->
    <h1>Prueba demo-component2</h1>
<ul>
  <li>Cofee</li>
  <li>Te</li>
  <li>Milk</li>
</ul>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemoComponent2 extends Polymer.Element {
      static get is() { return 'demo-component2'; }
      static get properties() {
        return {
          id: {
            type: String,
            value: '12345'
          },
          nombre: {
            type: String
          },
          edad: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(DemoComponent2.is, DemoComponent2);
  </script>
</dom-module>
