<!-- Aquì van tantas lineas link como componentes tengamos
OJO CON LA RUTA
Tenemos que tener iron-ajax instalado y declararlo aquì abajo
-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../login-usuario/login-usuario.html">

<!-- Hay que declarar el conumo de mi aplicaciòn backend
http://localhost:3000/api-uruguay/v1/login/  -->

<dom-module id="login-usuario">
  <template>
      <style>
        :host {
          display: block;
          font-family: cursive;
          color: red;
          background-color: green;
        }
      </style>


      <!-- AQUI DECLARO mi app Acordarse de prender el CORS (en Chrome)-->
      <!-- Como mi servicio recibe json por BODY, hay que declarar la etiqueta
           body="aplication/json"     y luego formarlo en:  this.$.hacerLogin.body = {....
PONIENDO AUTO en al comienzo de cada componente provoca que se cargue automàticamente 
     -->

      <iron-ajax id="hacerLogin"
             url="http://localhost:3000/api-uruguay/v1/login"
             method="POST"
             content-type="application/json"
             handle-as="json"
             on-response="mostrarResultadoLogin"
             on-error="mostrarError">
      </iron-ajax>

      <h1>Login-usuario, ingrese las credenciales</h1>
      <div class="row">
        <input type="email" value={{email::input}} />
        <input type="password" value={{password::input}} />
        <button on-click="logar">Login</button>
      </div>
      <span hidden$="{{!logado}}">Bienvenido de nuevo</span>
  </template>


  <script>

    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logado: {
            type: Boolean,
            value: false
          }
        };
      }

      mostrarResultadoLogin(resultado) {
        console.log("4. Llegaron los resultados")
        console.log(resultado)
        console.log("5. Proceso los resultados")
        this.logado = true
      }
      logar() {
        console.log("1. El usuario ha pulsado el botón")
        //this.$.hacerLogin.headers.email = this.email    //Mi App espera recibir en body
        this.$.hacerLogin.body = {"email" : this.email, "password" : this.password }

        console.log(this.email);
        console.log(this.password);
        console.log("2. Voy a enviar la petición")
        this.$.hacerLogin.generateRequest()
        console.log("3. Petición enviadaA")
      }
      mostrarError(error) {
        console.log("4. Llega el error")
        console.log(error)
        this.logado = false
      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);

  </script>
</dom-module>
