<!-- Aquì van tantas lineas link como componentes tengamos
OJO CON LA RUTA
Tenemos que tener iron-ajax instalado y declararlo aquì abajo
-->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!-- Hay que declarar el conumo de mi aplicaciòn backend
http://localhost:3000/api-uruguay/v1/login/  -->

<dom-module id="cuenta-movimientos">
  <template>
      <style>
        :host {
          display: block;
          font-family: cursive;
          color: black;
          background-color: red;
        }
      </style>


      <!-- AQUI DECLARO mi app Acordarse de prender el CORS (en Chrome)-->
      <!-- Como mi servicio recibe json por BODY, hay que declarar la etiqueta
           body="aplication/json"     y luego formarlo en:  this.$.hacerLogin.body = {....
PONIENDO AUTO en al comienzo de cada componente provoca que se cargue automàticamente
             url="http://localhost:3000/api-uruguay/v1/mvtoscuenta/7"
             http://localhost:3000/api-uruguay/v1/existeMail/akiehla@cnet.com
     -->

      <iron-ajax id="getMvtosCuenta"
             url="http://localhost:3000/api-uruguay/v1/mvtoscuenta/7"
             method="GET"
             handle-as="json"
             auto=""
             on-response="movsCuentaOK"
             on-error="movsCuentaERR">
      </iron-ajax>

      <span>
        <div class="row" align="center">
          <h3>Movimientos de la cuenta</h3>
        </div>
      </span>

      <span hidden$="{{!logado}}">
        <div class="row" align="left">
          <p>Saldo Actual: {{ c_saldo }}   </p>
          <p>Cant Mvtos: {{ c_movimientos.length }}</p>
        </div>

        <template is="dom-repeat" items="{{ c_movimientos }}" as="mvt">
          <div class="mvt-item">
            <span>
              <p> #[[mvt.idmov]] - [[mvt.fecha]] - [[ mvt.descripcion ]] - [[mvt.importe]] </p>
            </span>
          </div>
        </template>
      </span>
  </template>


  <script>

    class CuentaMovimientos extends Polymer.Element {
      static get is() { return 'cuenta-movimientos'; }
      static get properties() {
        return {
          c_idCuenta: {
              type: Number,
              value: 0
          },
          c_saldo: {
            type: Number,
            value: 0
          },
          c_movimientos: {
            type: Array
          },
          logado: {
            type: Boolean,
            value: true
          },
          anno: {
              type: Number,
              value: 0
          }
        };
      }

      mostrarDatos(datos) {
             console.log("Datos= "+ datos)
             this.anno = datos.year
           }

/*
      getMvtos() {
        console.log("funcion getMvtos")
        // Aqui puedo agregar el dato a la url
        //this.$.getMvtosCuenta.url="hola"
        console.log("getMvtosCuentaURL=" + this.$.getMvtosCuenta.url)
        this.$.getMvtosCuenta.generateRequest()
      }
*/
      movsCuentaOK(resultadoMovs) {
        //console.log("Hola=" + resultadoMovs.detail.response.Existe)
        console.log("resultadoMovs.detail= " + resultadoMovs.detail)
        console.log("resultadoMovs.detail.response= " + resultadoMovs.detail.response)
        this.c_idCuenta= resultadoMovs.detail.response.idCuenta
        this.c_saldo= resultadoMovs.detail.response.saldo
        this.c_movimientos= resultadoMovs.detail.response.movimientos
      }

      movsCuentaERR(errorMovs) {
        console.log(errorMovs)
        this.c_idCuenta=0
        this.c_saldo= 0
      }

      processEvent(e) {
          console.log("Capturado evento del emisor");
          console.log(e.detail);
        }
  }

    window.customElements.define(CuentaMovimientos.is, CuentaMovimientos);

  </script>
</dom-module>
